@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

/*some styling for error at form*/
form {
    border-radius: 5px;
    background-color:#f2f2f2 ;
    padding: 20px;
}

/*input focus error */
input.error, input.error:focus{
    border: 2px solid red;
}

/*error text styling */
label.error{
    color: red;
    font-size: 14px;
}

html, body {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 16px;
}

html {
    box-sizing: border-box;
    user-select: none;
}

p {
    color: #fff;
    font-size: 24px;
    letter-spacing: .2px;
    margin: 0;
}

/*valid input*/
/*input.valid, input.valid:focus{*/
/*    border: 2px solid green;*/
/*}*/

/**************************************/

/*error message styling for */
/*password validity*/

.emsg{
    color: red;
}
.hidden {
    visibility:hidden;
}
