/*styles for <a> link and it's container*/
/*in login form*/

.register_anchor_container{
    margin-top: 10px;
}

.register_anchor{
    color: gray;
    text-decoration: none;

    /*necessary to be inline block for <a> to transform*/
    display: inline-block;
    transition: all .2s;
    -webkit-backface-visibility: hidden;
}

.register_anchor:hover{
    color: #04116b;
    cursor: pointer;
    text-decoration: none;
    transform: scale(1.1);
}

.login_span{
    margin-bottom: 6px;
}

.login_error{
    background-color: #9e1b2d;
}

.login_error p{
    color:#550f18;
    font-size:16px;
}


/**************************************/